.CreatersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--gray-600);
  margin-top: -10px;
  padding: 4rem;

  h2 {
    font: 500 3.12rem/1em 'Poppins', sans-serif;
    margin-bottom: 3rem;
  }

  >div {
    display: flex;
    align-items: center;
    justify-content: center;

    .CardCreatersWrapper {
      margin: 0 2rem;
    }

    @media (max-width: 1080px) {
      flex-direction: column;

      .CardCreatersWrapper {
        margin: 2rem 0;
      }
    }
  }
}
